body {
    background-color: #261C2C;
    text-align: center;
}

h1 {
    font-family: 'Roboto Slab', serif;
    color: #6E85B2;
    font-size: 4.2rem;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin-top: 3rem;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    color: #5C527F;
    margin: 2rem;
}

.rps {
    display: inline-block;
    margin: 3.6rem;
}

button {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: inline-block;
    background-color: #261C2C;
    color: #fff;
    border-radius: 1rem;
    border: 4px single #fff;
    padding: 10px;
    transition: all 0.75s;
    margin-bottom: 60px;
}

button:hover {
    background-color: #fff;
    color: #261C2C;
}

.footer {
    font-family: 'Neuton', serif;
    font-size: 1.5rem;
    color: #6E85B2;
}